<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserMapper">
    <insert id="addUser">
        insert into user(username,password) values(#{userName},#{passWord})
    </insert>
    <select id="selectById" resultMap="userMap">
        select * from user where id=#{id}
    </select>
    <resultMap id="userMap" type="user">
        <id column="id" javaType="integer" property="uid"/>
        <result column="username" property="userName"/>
        <result column="password" property="passWord"/>
    </resultMap>
</mapper>